@{
    Layout = null;
    var title = ViewData["Title"] as string ?? "Auth";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@title - DHA</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        body.auth-bg {
            min-height: 100vh;
            background: linear-gradient(180deg, rgba(2, 6, 23, .55), rgba(2, 6, 23, .55)), url('/images/dha-gujranwala-new-1024x486.jpg') center / 720px auto no-repeat, radial-gradient(1200px 700px at 20% 20%, rgba(29,78,216,.30), rgba(2,6,23,0) 55%), radial-gradient(900px 500px at 80% 60%, rgba(6,182,212,.20), rgba(2,6,23,0) 60%), #0b1220;
            background-attachment: fixed;
        }

            body.auth-bg::before {
                content: "";
                position: fixed;
                inset: 0;
                background: rgba(255,255,255,.02);
                pointer-events: none;
            }
    </style>


    @RenderSection("Styles", required: false)
</head>

<body class="auth-bg">
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
